<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">RSMuseum</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Hjem</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="frivillige">Frivillige</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="registrering-godkendelse">Godkendelse</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="statistik">Statistik</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
