<nav class="navbar navbar-default" >
  <div class="container" >
    <div class="navbar-header" style=" margin-top: 5px">
      <a href="#"> <img src="http://www.levendehistorie.dk/Files/Templates/Designs/Soegaard_Bootstrap_r_s_m/images/logo.png" class="img-responsive navbarLogo" /></a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li  role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/"> Hjem
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="frivillige">Frivillige
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="registrering-godkendelse">Godkendelse<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="statistik">Statistik<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
