<div class="row goDownToListHeight">


<div class="row">
  <div class="col-xs-12">
    <img src="https://il9.picdn.net/shutterstock/videos/3725153/thumb/1.jpg" alt="Volunteer picture" class="img-responsive img-rounded" style="max-height: 100px">
  </div>
</div>
<div class="row">
  <form>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Navn <i class="glyphicon glyphicon-user"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Adresse <i class="glyphicon glyphicon-home"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">PostNr <i class="glyphicon glyphicon-globe"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Email <i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Tlf <i class="glyphicon glyphicon-phone-alt"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Laug <i class="glyphicon glyphicon-briefcase"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
    <div class="input-group col-xs-12">
      <span class="input-group-addon">Antal Timer <i class="glyphicon glyphicon-dashboard"></i></span>
      <input type="text" class="form-control" name="email" disabled>
    </div>
  </form>
  <h1> MembershipNumer: {{ volunteerMembershipNumber }}</h1>
</div>
</div>




