<div class="container">
  <div *ngIf="loading; else elseBlock">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h2>Ubehandlede registreringer</h2>
    <app-search (searchStringChanged)="onSearchStringChanged($event)"></app-search>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>Timer</th>
        <th>Laug</th>
      </tr>
      </thead>
      <tbody name="list" is="transition-group">
      <tr *ngFor="let registration of registrations | registrationFilterByVolunteerName:searchString; let i = index"
          [@tableRowLeavAnimation]>
        <td>{{registration.Volunteer.FirstName}} {{registration.Volunteer.LastName}}</td>
        <td>{{registration.Date}}</td>
        <td>{{registration.Hours}}</td>
        <td>{{registration.Guild.GuildName}}</td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Godkend">
            <button (click)="handleRegistration(registration.RegistrationId, true)" class="btn btn-success btn-xs"
                    data-title="Godkend"
                    data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-ok"></span></button>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Afvis">
            <button (click)="handleRegistration(registration.RegistrationId, false)" class="btn btn-danger btn-xs"
                    data-title="Afvis"
                    data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span></button>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
