<div class="container">
  <div class="col-md-7">
    <h1>R-S Museum Participation Program</h1>
    <p>Welcome! Thank you for taking the time to register your volunteered help. The data collected here is used solely
      for political purposes - not as a means to judge you as individuals! We appreciate any sized effort by helping our
      museum in staying awesome :-)</p>
    <p>Lorem ipsum dolor sit amet, morbi justo eu, pulvinar neque id ut non nibh, erat nec nullam nec dui mollis. Congue
      pellentesque aliquam, risus sed tellus orci diam, dolor aliquam tortor eu ipsum consequat, egestas aliquam
      accumsan maecenas eget ac nunc. Eros diam arcu egestas placerat, fusce sapien bibendum fermentum interdum, magna
      etiam phasellus ullamcorper metus montes, elit erat vivamus ut, a fusce.</p>
    <p>Curabitur elit pellentesque inceptos quis lacus congue, et commodo metus, auctor risus ipsum, sed sed suspendisse
      sem tincidunt sed. Congue aliquet gravida, duis dui dolor fusce lacus est. Nisl aliquam molestie sed amet bibendum
      tempus. Curabitur ac, molestie diam quis. Ornare feugiat non vitae, molestie eros turpis in in quam id, lacinia
      nunc dignissim metus vestibulum, cursus sed at id ultricies penatibus ut, odio ligula non sed potenti curabitur.
      Ut rhoncus molestie vel sed eu, nibh ullam mattis ligula donec commodo est, ut sed amet pede natoque volutpat.
      Vestibulum urna, enim aliquam vivamus enim hendrerit a torquent. Integer arcu conubia ut libero lacus orci. Odio
      in libero ut sed quaerat.</p>
  </div>
  <div class="col-md-5">
    <app-registration-form></app-registration-form>
  </div>
  <app-data-view></app-data-view>
</div>
